.landingImg{
    transition: 2s;
}
.landingImg:hover{
    scale: 1.12;
    transition: ease-in-out 1s;
    rotate: 180deg;
}
.scroll-wrapper {
    overflow: hidden;
    width: 99%;
    position: relative;
}
.scroll-text{
    white-space: nowrap;
    display: inline-block;
    animation: scroll-left 20s linear infinite;
}
.scroll-text:hover{
    animation-play-state: paused;
}
@keyframes scroll-left {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}

.explore-btn {
    background-color: #F28C28;
    color: white;
}

.explore-btn:hover {
    background-color: #e67e22;
}